

.stoplight {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 300px;
  border-radius: 10px;
}

.light {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  margin: 0.3em;
}

#red-light {
  background-color: red;
  margin-top: 0.6em;
}

#yellow-light {
  background-color: yellow;
}

#green-light {
  background-color: #00ff00;
  margin-bottom: 0.6em;
}
