/*
Travis Smith
https://github.com/bently118/WebProjects/tree/master/TrafficLight
*/


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stoplight {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px grey;
}

.light {
  height: 50%;
  width: 70%;
  border-radius: 50%;
  margin: 0.3em;
}

#red-light {
  background-color: red;
  margin-top: 0.6em;
}

#yellow-light {
  background-color: yellow;
}

#green-light {
  background-color: #00ff00;
  margin-bottom: 0.6em;
}
